<%- include('../main.ejs')  %> 
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<div class="col-lg-12">
    <div class="card mb-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newContent">
            Adicionar Conteúdo
        </button>
    </div>
</div>


<div class="col-lg-12">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Gerir Conteúdos</h6>
      </div>
      <div class="table-responsive p-3">
        <% if(data.length > 0) { %> 
        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
          <thead class="thead-light">
            <tr>
              <th>Módulo</th>
              <th>Posição</th>
              <th>Nome</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Módulo</th>
              <th>Posição</th>
              <th>Nome</th>
              <th>Ações</th>
            </tr>
          </tfoot>
          <tbody>
            <%data.forEach(turma => { %>
                <tr>
                    <td><%= turma.module %></td>
                    <td><%= turma.position %></td>
                    <td><%= turma.content_title %></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateContent" data-id="<%= turma.id %>" data-title="<%= turma.content_title %>" data-content="<%= turma.content %>" data-position="<%= turma.position%>">
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteContent" data-id="<%= turma.id %>" data-title="<%= turma.content_title %>"  data-module="<%= turma.module %>">
                            Eliminar
                        </button>
                    </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
            <p>Não existem conteúdos neste módulo</p>
        <% } %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Conteúdos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pos">Posição:</label>
                        <input type="number" name="position" id="" class="form-control" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="content-title">Título do Conteúdo:</label>
                        <input type="text" name="title" id="" class="form-control" required>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="select2Single">Tipo do Conteúdo:</label>
                        <select class="select2-single form-control" name="content-type" id="select2Single" onchange="changeContentType('new')" required>
                            <option value="text" selected>Texto</option>
                            <option value="file">Ficheiro</option>
                        </select>
                    </div>
                    -->
                    <div class="form-group" id="new-content-text">
                        <div class="nopadding">
                            <label for="content-text">Conteúdo:</label>
                            <textarea id="summernote" name="editordata" required></textarea>
                        </div>
                    </div>
                    <div class="form-group" id="new-content-file" style="display: none;">
                        <label for="file" class="file-upload-label">
                            <div class="file-upload-design">
                              <svg viewBox="0 0 640 512" height="1em">
                                <path
                                  d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
                                ></path>
                              </svg>
                              <span class="browse-button">Procure o Ficheiro</span>
                            </div>
                            <input id="file" type="file" accept=".pdf" />
                          </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="new" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar Conteúdos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="id" id="id">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pos">Posição:</label>
                        <input type="number" name="position" id="position" class="form-control" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="content-title">Título do Conteúdo:</label>
                        <input type="text" name="title" id="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <div class="nopadding">
                            <label for="content-text">Conteúdo:</label>
                            <textarea id="summernote" name="editordata" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="edit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Conteúdo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="id" id="userID" value="">
                <div class="modal-body">
                    <p>Tem a certeza que quer eliminar este Conteúdo? (<span id="title"></span>) de <span id="module"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="delete" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../footer.ejs')  %> 

<script src="/static/dash/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/dash/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- include summernote css/js -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<!-- Page level custom scripts -->
<script>

    /*
    * @param type {STRING} what is the modal in question
    */
    function changeContentType(type) {
        let val = document.getElementById('select2Single').value;

        if( val == 'text' ){
            document.getElementById(type+'-content-text').style.display = 'block';
            document.getElementById(type+'-content-file').style.display = 'none';
        } else if (val == 'file') {
            document.getElementById(type+'-content-text').style.display = 'none';
            document.getElementById(type+'-content-file').style.display = 'block';
        }
    }

    $(document).ready(function () {
        //

        $('#dataTableHover').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json',
            },
        });
        //
        $('#deleteContent').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id');
            var title = button.data('title');
            var module = button.data('module')

            var modal = $(this)
                modal.find('#userID').val(recipient)
                modal.find('#title').text(title)
                modal.find('#module').text(module)
        })

        $('#updateContent').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal

            var id = button.data('id');
            var title = button.data('title');
            var content = button.data('content');
            var position = button.data('position');

            var modal = $(this)
                modal.find('#id').val(id)
                modal.find('#title').val(title)
                modal.find('#summernote').summernote('code', content);
                modal.find('#position').val(position)
        })
        //
        $('#summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link']]
        ],
        popover: {
            image: [
                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
            link: [
                ['link', ['linkDialogShow', 'unlink']]
            ],
            table: [
                ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
            ],
            air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']]
            ]
        }
        });
});
</script>

