<%- include('../main.ejs')  %> 
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">


<div class="col-lg-12">

    <div class="card mb-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newContent">
            Adicionar Questão
        </button>
    </div>
    <div class="card mb-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendTest">
            Criar Teste
        </button>
    </div>

</div>


<div class="col-lg-12">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Gerir Questões</h6>
      </div>
      <div class="table-responsive p-3">
        <% if(data.length > 0) { %> 
        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
          <thead class="thead-light">
            <tr>
              <th>Módulo</th>
              <th>Questão</th>
              <th>Nível</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Módulo</th>
              <th>Questão</th>
              <th>Nível</th>
              <th>Ações</th>
            </tr>
          </tfoot>
          <tbody>
            <%data.forEach(quest => { %>
                <tr>
                    <td><%= quest.module %></td>
                    <td><%- quest.question %></td>
                    <td><%= quest.level %></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateQuestion" data-id="<%= quest.id %>" data-question="<%= quest.question %>" data-level="<%= quest.level %>" data-answers="<%= quest.answers %>" data-correct="<%= quest.correct %>">
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteQuestion" data-id="<%= quest.id %>">
                            Eliminar
                        </button>
                    </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
            <p>Não existem questões neste módulo</p>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Gerir Testes</h6>
      </div>
      <div class="table-responsive p-3">
        <% if(data.length > 0) { %> 
        <table class="table align-items-center table-flush table-hover" id="dataTableHover2">
          <thead class="thead-light">
            <tr>
              <th>Módulo</th>
              <th>Inicio</th>
              <th>Fim</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
               <th>Módulo</th>
               <th>Inicio</th>
               <th>Fim</th>
               <th>Ações</th>
            </tr>
          </tfoot>
          <tbody>
            <%evaluations.forEach(eval => { %>
                <tr>
                    <td><%= eval.module %></td>
                    <td>
                        <% 
                        let s = new Date(eval.start_date)
                        let start = s.getDate() + '/' + (s.getMonth() + 1)+ '/' + s.getFullYear() + ' ' + s.getHours() + ':' + s.getMinutes()
                        %>
                        <%= start %>
                    </td>
                    <td>
                        <% 
                        let e = new Date(eval.end_date)
                        let end = e.getDate() + '/' + (s.getMonth() + 1) + '/' + e.getFullYear() + ' ' + e.getHours() + ':' + e.getMinutes()
                        %>
                        <%= end %>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateEvaluation" data-id="<%= eval.id %>" data-module="<%= eval.module %>" data-start="<%= eval.start_date %>" data-end="<%= eval.end_date %>" data-questn="<%= eval.quest_n %>">
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteEvaluation" data-id="<%= eval.id %>">
                            Eliminar
                        </button>
                    </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
            <p>Não existem testes neste módulo</p>
        <% } %>
      </div>
    </div>
  </div>
</div>

<!-- QUESTIONS -->
<div class="modal fade" id="newContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Questão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="select2Single">Nível:</label>
                        <input type="number" name="level" id="" class="form-control" min="1" max="3" required>
                    </div>
                    <div class="form-group">
                        <label for="select2Single">Questão:</label>
                        <textarea id="summernote" name="editordata" required></textarea>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="nopadding">
                            <label for="select2Single">Respostas:</label>

                            <div id="answersList">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addAnswer('new')">Adicionar Resposta</button>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="new" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Questão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="id" id="id" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="select2Single">Nível:</label>
                        <input type="number" name="level" id="level" class="form-control" min="1" max="3" required>
                    </div>
                    <div class="form-group">
                        <label for="select2Single">Questão:</label>
                        <textarea id="summernote2" name="editordata" required></textarea>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="nopadding">
                            <label for="select2Single">Respostas:</label>
                            <div id="answersListEdit">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addAnswer('edit')">Adicionar Resposta</button>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="edit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Questão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="id" id="userID" value="">
                <div class="modal-body">
                    <p>Tem a certeza que quer eliminar a questão?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="delete" class="btn btn-primary">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- EVALUATIONS -->
<div class="modal fade" id="sendTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Teste</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="select2Single">Quantas questões?</label>
                        <input type="number" name="quant" id="level" class="form-control" min="1" required>
                    </div>
                    
                    
                    <div class="form-group">
                        
                            <label for="select2Single">Quando deve iniciar o teste?</label>
                            <input id="datepicker-start" name="start" type="text" class="form-control" data-zdp_readonly_element="false">
                        
                            <label for="select2Single">Quando deve terminar o teste?</label>
                            <input id="datepicker-end" name="end" type="text" class="form-control" data-zdp_readonly_element="false">
                        </div>
                   
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="test" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Teste</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="id" id="userID" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="select2Single">Quantas questões?</label>
                        <input type="number" name="quant" id="quant" class="form-control" min="1" required>
                    </div>
                    
                    <div class="form-group">
                        
                            <label for="select2Single">Quando deve iniciar o teste?</label>
                            <input id="datepicker-start2" name="start" type="text" class="form-control" data-zdp_readonly_element="false">
                        
                            <label for="select2Single">Quando deve terminar o teste?</label>
                            <input id="datepicker-end2" name="end" type="text" class="form-control" data-zdp_readonly_element="false">
                        </div>
                   
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="update_test" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Teste</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="id" id="userID" value="">
                <div class="modal-body">
                    <p>Tem a certeza que quer eliminar o teste?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="delete_test" class="btn btn-primary">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../footer.ejs')  %> 

<script src="/static/dash/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/dash/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script
  src="https://cdn.jsdelivr.net/npm/zebra_datepicker@latest/dist/zebra_datepicker.min.js"></script>
<!-- include summernote css/js -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<!-- Page level custom scripts -->


<script>
    let answersA = {
        new: 0,
        edit: 0
    };

    $(document).ready(function () {

        $('#datepicker-start').Zebra_DatePicker({
            format: 'Y-m-d H:i',
            direction: true,
            pair: $('#datepicker-end')
        });
        $('#datepicker-end').Zebra_DatePicker({
            format: 'Y-m-d H:i',
            direction: true
           
        });

        $('#datepicker-start2').Zebra_DatePicker({
            format: 'Y-m-d H:i',
            direction: true,
            pair: $('#datepicker-end2')
        });
        $('#datepicker-end2').Zebra_DatePicker({
            format: 'Y-m-d H:i',
            direction: true
        });

       //
        $('#dataTableHover').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json',
            },
        });
        $('#dataTableHover2').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json',
            },
        });
        //
        $('#sendTest').on('show.bs.modal', function (event) {
            var dp = document.getElementsByClassName("Zebra_DatePicker_Icon_Wrapper");
            var i;

            for (i = 0; i < dp.length; i++) {
                dp[i].style.width = null;
            }
        })

        $('#deleteEvaluation').on('show.bs.modal', function (event) {
            var dp = document.getElementsByClassName("Zebra_DatePicker_Icon_Wrapper");
            var i;

            for (i = 0; i < dp.length; i++) {
                dp[i].style.width = null;
            }

            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id');

            var modal = $(this)
                modal.find('#userID').val(recipient)
        })

        $('#updateEvaluation').on('show.bs.modal', async function (event) {
            var dp = document.getElementsByClassName("Zebra_DatePicker_Icon_Wrapper");
            var i;

            for (i = 0; i < dp.length; i++) {
                dp[i].style.width = null;
            }
            
            var button = $(event.relatedTarget)
            var recipient = button.data('id');
            var quest = button.data('questn');
            var s = button.data('start');
            var e = button.data('end');

            var modal = $(this)

                modal.find('#userID').val(recipient)
                modal.find('#quant').val(quest)

                var startPicker = $('#datepicker-start2').data('Zebra_DatePicker');
                startPicker.clear_date();
                startPicker.set_date(new Date(s));

                var endPicker = $('#datepicker-end2').data('Zebra_DatePicker');
                endPicker.clear_date();
                endPicker.set_date(new Date(e));

        })

        $('#deleteQuestion').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id');

            var modal = $(this)
                modal.find('#userID').val(recipient)
        })

        $('#updateQuestion').on('show.bs.modal', async function (event) {
            let div = document.getElementById('answersListEdit');

            div.innerHTML = "";
            var button = $(event.relatedTarget) // Button that triggered the modal

            var id = button.data('id');
            var question = button.data('question');
            var level = button.data('level');
            var answers = button.data('answers');//
            var correct = String(button.data('correct'));//

            var modal = $(this)
                modal.find('#id').val(id)
                modal.find('#summernote2').summernote('code', question);
                modal.find('#level').val(level)

                
            if(answers.match(/[,]/g)) answers = answers.split(/[,]/g);
            else answers = [answers];

            

            if(correct.match(/[,]/g)) correct = correct.split(/[,]/g);
            else correct = [correct];
            
            await answers.forEach(function (item, index) {

                let correta = correct.includes(index.toString()) ? 'checked' : '';

                let data = `
                <div class="form-group">
                    <input type="text" id="text${answersA.edit}" value="${item}" name="answers" class="form-control" oninput="verifyContent(${answersA.edit})">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="correct" value="${answersA.edit}" id="customCheck${answersA.edit}" ${correta}>
                        <label class="custom-control-label" for="customCheck${answersA.edit}">Esta questão está correta?</label>
                    </div>
                </div>
                `
                let newDiv = document.createElement('div');
                newDiv.innerHTML = data;

                div.appendChild(newDiv);
                answersA.edit++;
            });

            answersA.edit = 0;
        })
        //
        $('#summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link']]
        ],
        popover: {
            image: [
                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
            link: [
                ['link', ['linkDialogShow', 'unlink']]
            ],
            table: [
                ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
            ],
            air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']]
            ]
        }
        });

        $('#summernote2').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link']]
        ],
        popover: {
            image: [
                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
            link: [
                ['link', ['linkDialogShow', 'unlink']]
            ],
            table: [
                ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
                ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
            ],
            air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']]
            ]
        }
        });

        
});

function addAnswer(type) {
    let div = (type == 'new') ? document.getElementById('answersList'): document.getElementById('answersListEdit');

    let data = `
    <div class="form-group">
        <input type="text" id="text${answersA.new}" name="answers" class="form-control" oninput="verifyContent(${answersA.new})">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="correct" value="${answersA.new}" id="customCheck${answersA.new}" disabled>
            <label class="custom-control-label" for="customCheck${answersA.new}">Esta questão está correta?</label>
        </div>
    </div>
    `
    let newDiv = document.createElement('div');
    newDiv.innerHTML = data;

    div.appendChild(newDiv);
    answersA.new++;
}

function verifyContent(value) {
    let input = document.getElementById(`text${value}`).value;
    
    if (input == ('' || ' ') || input == null || !input) {
        let checkbox = document.getElementById(`customCheck${value}`);
        checkbox.disabled = true;
    } else {
        let checkbox = document.getElementById(`customCheck${value}`);
        checkbox.disabled = false;
    }
}


</script>

