<%- include('../main.ejs')  %> 
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

<div class="col-lg-12">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Ver Resultados por Utilizador</h6>
      </div>
      <div class="table-responsive p-3">
        <% if(data.length > 0) { %> 
        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
          <thead class="thead-light">
            <tr>
              <th>Utilizador</th>
              <th>Nota</th>
              <th>Tempo</th>
              <th>Nº de Pausas</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Utilizador</th>
              <th>Nota</th>
              <th>Tempo</th>
              <th>Nº de Pausas</th>
              <th>Ações</th>
            </tr>
          </tfoot>
          <tbody>
            <%data.forEach(eval => { %>
                <tr>
                    <td><%= eval.username %></td>
                    <td><%= eval.score %>%</td>
                    <td>
                      <% let totalTime = {
                        hours: 0,
                        minutes: 0,
                        seconds: 0
                      }; 
                        eval.data.forEach(t => {
                          t.tempo.split(/:/).forEach((time, i) => {
                            if(i == 0) {
                              totalTime.hours += parseInt(time)
                            } else if(i == 1) {
                              totalTime.minutes += parseInt(time)
                            } else {
                              totalTime.seconds += parseInt(time)
                            }
                          });
                        })
                      %>
                      <%= totalTime.hours + 'h' + totalTime.minutes + 'm' + totalTime.seconds + 's' %> 
                    </td>
                    <td>
                      <% let totalPauses = 0; 
                        eval.data.forEach(t => {
                          totalPauses += parseInt(t.pausas);
                        })
                      %>
                        <%= totalPauses %>
                    </td>
                    <td>
                      <button type="button" onclick="window.location = '<%= '/prof/classes/' + encodeURIComponent(eval.module) + '/results/' + eval.evaluation_id + '/' + eval.user_id %>';" class="btn btn-primary">
                        Ver Perguntas e Respostas
                      </button>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeGrade" data-user="<%= eval.username %>" data-grade="<%= eval.score %>" data-id="<%= eval.user_id %>">
                        Alterar Nota
                      </button>
                    </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
            <p>Não existem testes realizados neste módulo</p>
        <% } %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="changeGrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar Nota de <span id="usernameSpan"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <input type="hidden" name="user_id" id="userID" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="grade">Nota</label>
                        <input type="number" class="form-control" id="grade" name="grade" min="0" max="100" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="action" value="grade" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../footer.ejs')  %> 

<script src="/static/dash/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/dash/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- include summernote css/js -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<!-- Page level custom scripts -->
<script>
    $(document).ready(function () {
        //
        $('#dataTableHover').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json',
            },
        });
        //
        $('#changeGrade').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id');
            var grade = button.data('grade');
            var username = button.data('user');

            var modal = $(this)
                modal.find('#userID').val(recipient)
                modal.find('#grade').val(grade)
                modal.find('#usernameSpan').text(username)

        })

        
});
</script>

