<%- include('../main.ejs')  %> 

<div class="col-lg-12">
    <div class="card mb-4 rounded">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between justify-content-md-center">
            <h3 class="m-0 font-weight-bold text-primary">Módulo: <%= module %>
            <% if (rawQuestionData == false) { %>
             | Utilizador: <%= username %>
            <% } %>
            </h3>
        </div>

  </div>
</div>


<div class="row mx-1">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Tempo médio de Leitura de Conteúdos</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= String(avg.contentReadingTime).replace(/([A-Z])\w+/g, '00') %></div>
          </div>
          <div class="col-auto">
            <i class="fa fa-clock-o fa-2x text-primary" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Pausas médias por conteúdo</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= String(avg.contentPauses).replace(/([A-Z])\w+/g, '0') %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-pause-circle fa-2x text-primary" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Tempo total de pausa (Conteúdo)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= String(avg.contentPausesTime).replace(/([A-Z])\w+/g, '00') %></div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-hourglass fa-2x text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-1">
  <div class="col-xl-4 col-md-6 mb-5 mt-n4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Duração média dos testes</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= String(avg.testsTime).replace(/([A-Z])\w+/g, '00') %></div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-stopwatch fa-2x text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 mb-5 mt-n4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Média de pausas por teste</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= String(avg.testsPauses).replace(/([A-Z])\w+/g, '00') %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-pause-circle fa-2x text-primary" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 mb-5 mt-n4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Tempo total de pausas (testes)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= String(avg.testsPausesTime).replace(/([A-Z])\w+/g, '00') %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-chess-clock-alt fa-2x text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-12 mt-n1">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">Estatísticas de Conteúdos</h5>
        </div>

        <% if(rawContentData.length > 0) { %>
          <div class="table-responsive p-3">

          <table class="table align-items-center table-flush table-hover" id="dataTableHover">
            <thead class="thead-light">
              <tr>
                <th>Título do Conteúdo</th>
                <th>Tempo Total de Leitura</th>
                <th>Tempo Médio de Leitura</th>
                <th>Total de Pausas</th>
                <th>Média de Pausas</th>
                <th>Tempo Total de Pausas</th>
                <th>Tempo Médio de Pausas</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Título do Conteúdo</th>
                <th>Tempo Total de Leitura</th>
                <th>Tempo Médio de Leitura</th>
                <th>Total de Pausas</th>
                <th>Média de Pausas</th>
                <th>Tempo Total de Pausas</th>
                <th>Tempo Médio de Pausas</th>
              </tr>
            </tfoot>
            <tbody>
              <% rawContentData.forEach(content => { %>
                <tr>
                  <td><%= content.content_title %></td>
                  <td><%= String(content.totalReadingTime).replace(/([A-Z])\w+/g, '00') %></td>
                  <td><%= String(content.avgReadingTime).replace(/([A-Z])\w+/g, '00') %></td>
                  <td><%= content.totalPauses %></td>
                  <td><%= content.avgPauses %></td>
                  <td><%= String(content.totalPausesTime).replace(/([A-Z])\w+/g, '00') %></td>
                  <td><%= String(content.avgPauseTime).replace(/([A-Z])\w+/g, '00') %></td>
                </tr>
              <% }) %>
            </tbody>

          </table>
          </div>
        <% } else { %>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 text-secondary">Não existem dados para apresentar</h6>
            </div>
        <% } %>

  </div>
</div>

<% if(rawQuestionData == false) { %>
<% } else { %>

<div class="col-lg-12 mt-n1">
  <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="m-0 font-weight-bold text-primary">Estatísticas de Perguntas</h5>
      </div>

      <% if(rawQuestionData.length > 0) { %>
        <div class="table-responsive p-3">

        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
          <thead class="thead-light">
            <tr>
              <th>Pergunta</th>
              <th>Tempo Total</th>
              <th>Tempo Médio </th>
              <th>Total de Pausas</th>
              <th>Média de Pausas</th>
              <th>Tempo Total de Pausas</th>
              <th>Tempo Médio de Pausas</th>
              <th>Taxa de Aprovação</th>
              <th>Nº de Vezes Respondida</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Título do Conteúdo</th>
              <th>Tempo Total de Leitura</th>
              <th>Tempo Médio de Leitura</th>
              <th>Total de Pausas</th>
              <th>Média de Pausas</th>
              <th>Tempo Total de Pausas</th>
              <th>Tempo Médio de Pausas</th>
              <th>Taxa de Aprovação</th>
              <th>Nº de Vezes Respondida</th>
            </tr>
          </tfoot>
          <tbody>
            <% rawQuestionData.forEach(content => { %>
              <tr>
                <td><%= content.questionText.replace(/<[^>]+>/g, '') %></td>
                <td><%= String(content.totalReadingTime).replace(/([A-Z])\w+/g, '00') %></td>
                <td><%= String(content.avgReadingTime).replace(/([A-Z])\w+/g, '00') %></td>
                <td><%= content.totalPauses %></td>
                <td><%= content.avgPauses %></td>
                <td><%= String(content.totalPausesTime).replace(/([A-Z])\w+/g, '00') %></td>
                <td><%= String(content.avgPauseTime).replace(/([A-Z])\w+/g, '00') %></td>
                <td><%= content.successRate %>%</td>
                <td><%= content.attempts %></td>
              </tr>
            <% }) %>
          </tbody>

        </table>
        </div>
      <% } else { %>
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 text-secondary">Não existem dados para apresentar</h6>
          </div>
      <% } %>

</div>
</div>
<% } %>


<%- include('../footer.ejs')  %> 

<script src="/static/dash/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/dash/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>

<!-- Page level custom scripts -->
<script>
    $('#dataTableHover').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json',
        },
    });
</script>